* {
    padding: 0;
    margin: 0;
    color: #141414;
    font-family: "Roboto", sans-serif;
}

p, h4, h3 {
	line-height: 30px;
	text-align: center;
}

h1, h3, h5 {
    font-family: "Open Sans", sans-serif;
}

/*Button Style*/
.button {
    text-align: center;
}

.button-style {
	color: #03B3E4;
	text-decoration: none;
	text-transform: uppercase;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #03B3E4;
	border-radius: 6px;
	display: inline-block;
    margin-right: auto;
    margin-left: auto;
}

.button-style:hover {
	color: #ffffff;
	background: #03B3E4;
	transition: all 0.4s ease 0s;
}

/*Mobile View*/

@media only screen and (min-width: 0px) {
    body {
        margin: auto;
        padding: 0 10px;
    }

/*Header*/
    header {
        display: flex;
        justify-content: space-between;
        height: 130px;
    }

    .logo {
        width: 45px;
        height: 45px;
        display: block;
        align-self: center;
    }

    .name-title {
        align-self: center;
        text-align: right;
    }

/*Page text*/
    h1 {
        text-transform: uppercase;
        font-size: 2.1em;
        letter-spacing: -2px;
        font-weight: 600;
        line-height: 1.2em;
    }

    h2 {
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 100;
    }

    h3 {
        font-size: 1.5em;
        border-bottom: 1px solid #d9d9d9;
        padding: 0.3em 0;
    }

    h4 {
        font-size: 1.3em;
        font-weight: 100;
        margin-top: 0.4em;
    }

    h5 {
        font-size: 1em;
        font-weight: 600;
        margin-top: 0.4em;
        color: #9b9b9b;
        text-align: center;
    }

    p {
        font-size: 0.9em;
        font-weight: 100;
    }

/*Main content*/
    .image-style {
        width: 100%;
        display: block;
    }

    .featured-work-container {
        margin: 1em 0;
        border-bottom: 1px solid #d9d9d9;
    }

    .featured-work {
        padding-top: 1.4em;
    }

    .space-under-content {
        margin-bottom: 20px;
    }

/*Footer*/
    footer {
        border: 1px solid #d9d9d9;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .paragraph-small {
        padding-top: 1em;
        color: #9b9b9b;
        font-size: 0.8em;
    }
}

/*Table View*/

@media only screen and (min-width: 500px) {

    button {
        width: 100%;
    }

/*Main content*/
    .featured-work {
        display: flex;
        justify-content: space-between;
    }

    .first-project {
        margin: 0 10px 0 0;
    }

    .third-project {
        margin: 0 0 0 10px;
    }
}
/*Minor Breakpoint*/

@media only screen and (min-width: 650px) and (max-width: 1100px) {
    body {
        margin: auto;
        padding: 0 30px;
    }
}

/*Desktop View*/

@media only screen and (min-width: 1100px) {
    body {
        display: flex;
        max-width: 1050px;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

/*Header*/
    header {
        order: 0;
        height: 170px;
        margin: 0 20px;
        width: 100%;
        max-width: 1100px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

/* Page stext*/
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 1.1em;
    }

    h3 {
        font-size: 2.1em;
    }

    h4 {
        font-size: 1.4em;
    }

    p {
        font-weight: 400;

    }

/*Main content*/
    main {
        margin: 0 20px;
    }

    .featured-work-container {
        border-bottom: none;
    }

/*Footer*/
    footer {
        order: 10;
        width: 100%;
        max-width: 1100px;
        height: 150px;
        margin: 0 auto;
    }
}